<!DOCTYPE html>
<html>

	<head>
		<title>Help page</title>
		<meta content="text/html; charset=ISO-8859-1" http-equiv="content-type">
		<link rel="stylesheet" type="text/css" href="stylehelp.css" />
	</head>
	
	<body>
		<div>
			<p class="title" id="t0">Help about the LogIn Window</p>
			
			<p class="subtitle">Index</p>
			<p>
				<a href="#t1">1).How works the LogIn Window</a><br/>
				<a href="#t2">2).Shortcuts for this Window</a><br/>
			</p>
		</div>
		<hr/>
		<div>
			<p class="subtitle" id="t1">1. How works the LogIn Window</p>
			<p>When you launch the application, this is the first window that you'll always see.</p>
			<img src="login.png">
			<p>Here you can see a log in window with two empty text fields, one called <b>Username</b> 
			and the other called <b>Password</b>.<br/>
			If you already have an account, you can log in directly filling the two text fields and
			clicking the <b>LogIn</b> button, this will check if the data is correct, if is not correct
			the application tells you what's going wrong.
			If not, you can make a new account clicking in the words <u><b>Click here</b></u> in the 
			sentence under the texts field, this link will send you to the sign up window that we'll
			explain later.</p>
		</div>
		<hr/>
		<div>
			<p class="subtitle" id="t2">2. Shortcuts for this Window</p>
			<p>There are one table bellow with three colums the first one is the shortcut name, the second shows what key combination you should press for do it and the last one explains for what is that shortcut<br/>
				<table >
					<tr>
						<th>Shortcut name</th>
						<th>Key combination</th>
						<th>Shortcut explained</th>
					</tr>
					<tr>
						<td>Login</td>
						<td><b>ALT+L</b></td>
						<td>When the login button is enable and use this shortcut
						automatically tries to log in with the username and password previusly intrduced</td>
					</tr>
					<tr>
						<td>SignUp</td>
						<td><b>ALT+S</b></td>
						<td>Access to the Sign Up window</td>
					</tr>
				</table>
			</p>
			<br/><br/>
		</div>
		<hr/>
		<div>
			<p>
				<a href="#t0">Return to head of the page.</a><br/>
			</p>
		</div>
	
	</body>



</html>