<!DOCTYPE html>
<html>

	<head>
		<title>Help page</title>
		<meta content="text/html; charset=ISO-8859-1" http-equiv="content-type">
		<link rel="stylesheet" type="text/css" href="stylehelp.css" />
	</head>
	
	<body>
		<div>
			<p class="title" id="t0">Help about the sign up window</p>
			
			<p class="subtitle">Index</p>
			<p>
				<a href="#t1">1).Shortcuts</a><br/><br/>
				<a href="#t2">2).Validations</a><br/>
			</p>
		</div>
		<hr/>
		<div>
			<p class="subtitle" id="t1">1.Shortcuts</p>
			<p>The sign up window have some shortcuts to help you<br/><br/>
			To register directly press Alt + S at the same time.<br/><br/>
			To go back to login press Alt + B at the same time.<br/><br/>
                        To open help window press F1 in any window of the app.
			</p>
		</div>
		<hr/>
		<div>
			<p class="subtitle" id="t2">2.Validations</p>
			<p>Some validations you need to know</p>
			<p>Username: 4 to 10 characters.<br/><br/>
                        Email: Possibility example "example@extension.cope".<br/><br/>
                        Full name: 1 to 45 characters.<br/><br/>
                        Password: 8 to 14 characters.<br/><br/>
                        Must have at least one uppercase and one number.
                            
			</p>
		</div>
		<hr/>
		<div>
			<p>
				<a href="#t0">Return to head of the page.</a><br/>
			</p>
		</div>
	
	</body>



</html>