<!DOCTYPE html>
<html>

    <head>
        <title>Help page</title>
        <meta content="text/html; charset=ISO-8859-1" http-equiv="content-type">
        <link rel="stylesheet" type="text/css" href="stylehelp.css" />
    </head>

    <body>
        <div>
            <p class="title" id="t0">Help about the application</p>

            <p class="subtitle">Index</p>
            <p>
                <a href="#t1">1).Description</a><br/>
                <a href="#t2">2).Log in window</a><br/>
                <a href="#t3">3).Sign up window</a><br/>
                <a href="#t4">4).Main window</a><br/>
                <a href="#t5">5).Other information</a><br/>
            </p>
        </div>
        <hr/>
        <div>
            <p class="subtitle" id="t1">1.Description</p>
            <p>Welcome to the help page of this application!<br/>
                If you are here is probably because you have questions or issues using this application, 
                so here is a piece of help...<br/><br/>
                This application is for <b>Log In / Log Out / Sign Up</b> and you can see your account data after log in <br/>
                As you can see at the bottom of this page, there are 3 main windows plus this help page and 
                different pop up alerts.
                First of all, you need an account, for that you can make a new account in the sign in window
                and next(When you already have an account) log in the server.
            </p>
        </div>
        <hr/>
        <div>
            <p class="subtitle" id="t2">2.Log in Window</p>
            <p>When you launch the application, this is the first window that you'll always see.</p>
            <img src="login.png">
            <p>Here you can see a log in window with two empty text fields, one called <b>Username</b> 
                and the other called <b>Password</b>.<br/>
                If you already have an account, you can log in directly filling the two text fields and
                clicking the <b>LogIn</b> button, this will check if the data is correct, if is not correct
                the application tells you what's going wrong.
                If not, you can make a new account clicking in the word <u><b>here</b></u> in the 
                sentence under the texts field, this link will send you to the sign up window that we'll
                explain later.</p>
        </div>
        <hr/>
        <div>
            <p class="subtitle" id="t3">3.Sign in Window</p>
            <img src="signup.png">
            <p>In this window you may create a new account filling the text fields with your data.
                Different text fields and <u>requirements</u>:<br/>
                <b>-Username: </b>4-10 characters<br/>
                <b>-Password: </b>8-14 characters and at least one uppercase and one number<br/>
                <b>-Repeat Password: </b>equal to password<br/>
                <b>-Email: </b>pattern of email(e.g. email.example@extension.cope)<br/>
                <b>-Full Name: </b>1-45 characters<br/><br/>
                When you finish filling the text fields, if you click on the <b>SignUp</b> button and
                the application will check your data, if there is something wrong it will be shown 
                to you.
            </p>
        </div>
        <hr/>
        <div>
            <p class="subtitle" id="t4">4.Main Window</p>
            <img src="MW_profile.png">
            <p>This is the 'main' window of the application. Here you can see the data of your account
                plus some extra data like:<br/>
                <b>-The date of your last connection.</b><br/>
                <b>-The date of the last time you change your password.</b><br/><br/>
                As you can see, there are two bars in the window, the upper one is for options like
                close the application or the access to this help page, and the other one, the status bar
                with data about your connection, here you can see your user and the date of your last 
                connection plus a <b>LogOut</b> text which is clickable and it will returns you to 
                the LogIn window closing your connection with the server.<br/>
            </p>
        </div>
        <hr/>
        <div>
            <p class="subtitle" id="t5">5.Other information</p>
            <p>If you have any problem or question with the application , you can contact with us
                at this e-mail:<br/>
                <b>- team6@contact.com</b></p>

            <br/><br/>
        </div>
        <hr/>
        <div>
            <p>
                <a href="#t0">Return to head of the page.</a><br/>
            </p>
        </div>

    </body>



</html>