<!DOCTYPE html>
<html>

    <head>
        <title>Help Window</title>
        <meta content="text/html; charset=ISO-8859-1" http-equiv="content-type">
        <link rel="stylesheet" type="text/css" href="stylehelp.css" />
    </head>

    <body>
        <div>
            <p class="title" id="t0">Help about the SignUp window</p>
        </div>
        <hr/>
        <div>
            <p class="subtitle" id="t1">1.Description</p>
            <p>Welcome to the <b>Sign Up</b> window help!<br/><br/>
                I'm guessing you're here because yo want to know how to use this window, here's all you need to know...<br/><br/>
            </p>
        </div>
        <hr/>
        
        <div>
            <p class="subtitle" id="t2">2.Sign in Window</p>
            <img src="signup.png"><br/>
            <p>In this window you may create a new account filling the text fields with your data.
                Different text fields and <u>requirements</u>:<br/><br/>
                <b>-Username: </b>4-10 characters<br/>
                <b>-Password: </b>8-14 characters and at least one uppercase and one number<br/>
                <b>-Repeat Password: </b>equal to password<br/>
                <b>-Email: </b>pattern of email(e.g. email.example@extension.cope)<br/>
                <b>-Full Name: </b>1-45 characters<br/><br/>
                When you finish filling the text fields, if you click on the <b>SignUp</b> button and
                the application will check your data, if there is something wrong it will be shown 
                to you.
            </p>
        </div>
        <hr/>
        <div>
            <p class="subtitle" id="t3">3.Other information</p>
            <p>If you have any problem or question with the application , you can contact with us
                at this e-mail:<br/>
                <b>- team6@contact.com</b></p>

            <br/><br/>
        </div>
        <hr/>
        <div>
            <p>
                <a href="#t0">Return to title</a><br/>
            </p>
        </div>

    </body>



</html>